

.App{
  height: 100 vh;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color:grey;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.titulo-principal-contenedor {
  width: 100%;
  height: 90px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.titulo-principal{
  font-weight:bolder;
  font-style:italic;
  font-size:40px;
}

.contenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: antiquewhite;
  border-radius: 20px;
  border: 6px solid black;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}